/* src/styles.css */
@import '../src/components/Navbar.css';


body {
  font-family: Arial, sans-serif;
}

.hero-section {
  text-align: center;
  padding: 50px 20px;
}

.modal-box {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 24px;
  border-radius: 8px;
}

/* General styles */
body, html, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  /* display: flex; */
  overflow: hidden;
  flex-direction: column;
  /* align-items: center; */
}

/* Add any global styles here */

